<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Garena</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
    <div class="row mr-2">
      <div class="input-group col-8">
        <span class="input-group-addon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <input type="text" class="form-control" list="names" placeholder="Search (by name)" [(ngModel)]="name">
        <datalist id="names">
          <option [value]="title" *ngFor="let title of titles"></option>
        </datalist>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-outline-light" (click)="sortList()">
          <i class="fa fa-random" aria-hidden="true" *ngIf="!sortOrder"></i>
          <i class="fa fa-sort-numeric-desc" aria-hidden="true" *ngIf="sortOrder === 'descending'"></i>
          <i class="fa fa-sort-numeric-asc" aria-hidden="true" *ngIf="sortOrder === 'ascending'"></i> Score
        </button>
      </div>
    </div>
  </div>
</nav>
<main class="bg-light">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col col-sm-6 col-md-4 align-items-stretch p-2" *ngFor="let game of (games | search : name | sort: sortOrder )">
        <ga-game-info [game]="game"></ga-game-info>
      </div>
    </div>
  </div>
</main>
