<div class="card h-100">
  <div class="card-body">
    <h4 class="card-title">{{ game.title }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ game.platform }}</h6>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between">
      <span>Score</span>
      <span class="text-muted">{{game.score}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span>Genre</span>
      <span class="text-muted">{{ game.genre }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span>Editors's Choice</span>
      <span class="text-muted">{{ game.editors_choice | editorschoice }}</span>
    </li>
  </ul>
</div>
